version: '3.8'

services:
  mongodb:
    image: mongodb/mongodb-community-server:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: nraboy
      MONGO_INITDB_ROOT_PASSWORD: password1234
    volumes:
      - mongo_data:/data/db

  user-service:
    build: ./user-service
    container_name: user-service
    restart: unless-stopped
    ports:
      - "5000:5000"
    env_file:
      - ./user-service/.env
    depends_on:
      - mongodb
    
  task-service:
    build: ./task-service
    container_name: task-service
    restart: unless-stopped
    ports:
      - "6000:6000"
    env_file:
      - ./task-service/.env
    depends_on:
      - mongodb

volumes:
  mongo_data:
